html body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url("/images/bluedot.jpg");
}

.header {
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  background-color: rgb(210, 222, 235);
  background-image: url("/images/pinkdot.jpg");
  background-size: contain;
  opacity: 0.8;
}

.backLink {
  margin-top: 20px;
}

a {
  color: #0358c0;
}

ul {
  list-style-type: none;
}

#form {
  display: flex;
  flex-direction: column;
}

#formBtn {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  border-radius: 50%;
  background-color: #f1f1f7;
  font-size: 1rem;
}
#formBtn:hover {
  color:rgb(7, 87, 29);
}

#userName, input {
  margin: 5px;
}

/* Ref: https://projects.verou.me/bubbly/ */
.myName {
	position: relative;
	background: rgb(174, 230, 245);
	border-radius: .4em;
  color: blue;
  margin-top: 10px;
  padding: 10px;
  width: max-content;
  margin-left: 55%;
}

.myName:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-right-color:rgb(174, 230, 245);
	border-left: 0;
	border-bottom: 0;
	margin-top: -9.5px;
	margin-left: -19px;
}

.yourName {
	position: relative;
	background: #eff381;
	border-radius: .4em;
  margin-top: 20px;
  padding: 10px;
  width: max-content;
  margin-left: 40%;
}

.yourName:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-left-color: #eff381;
	border-right: 0;
	border-bottom: 0;
	margin-top: -8.5px;
	margin-right: -17px;
}

/* 480px, smart phone */
/* @media screen and (max-width: 480px) {
  body {
    flex-direction: column;
  }
} */