body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

#form {
  display: flex;
  flex-direction: column;
}

/* #chatRoom {
  display: none;
} */